body {
    font-family: Arial, sans-serif;
}

#quests-container {
    display: flex;
    flex-wrap: wrap;
}

.quest-card, .quest-card-detail {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 200px;
}

.quest-card-detail {
    width: auto;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
